# VacationPy
----

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import gkey

### Store Part I results into DataFrame

In [14]:
# load dataframe from WeatherPy and display
filepath = "../WeatherPy/Output/weather_output.csv"
weather_data = pd.read_csv(filepath)
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,busselton,-33.6500,115.3333,51.04,80,93,8.55,au,1626875931
1,punta arenas,-53.1500,-70.9167,35.71,93,75,3.44,cl,1626875914
2,mahebourg,-20.4081,57.7000,70.09,83,75,18.41,mu,1626875954
3,mackay,-21.1500,149.2000,60.04,87,0,5.75,au,1626875954
4,homer,59.6425,-151.5483,55.08,90,100,1.99,us,1626875955
...,...,...,...,...,...,...,...,...,...
557,izhma,65.0083,53.9113,63.70,62,88,11.21,ru,1626876868
558,rawah,34.4816,41.9093,107.33,12,0,16.40,iq,1626876869
559,jawhar,2.7809,45.5005,82.92,59,61,23.47,so,1626876869
560,astoria,46.1879,-123.8313,57.85,94,1,3.44,us,1626876870
561,plettenberg bay,-34.0527,23.3716,51.98,78,64,29.19,za,1626876872

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# configure gmaps
gmaps.configure(api_key=gkey)

locations = weather_data[["Lat","Lng"]]
weight = weather_data["Humidity"]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure